<%- include("../partials/header")%>
<%- include("../partials/navbar")%>
<div class="container" style="margin-top: 5rem;">
  <div class="row">
    <div class="col-md-3">
     
      <%if(user){%>
        <div class=" card">
            <div class="card-header text-center"> Profile </div>
            <div class="card-body text-center">
                <h5 class="card-title text-capitalize"><%= user.username %></h5>
                <p class="card-text"><%= user.email %> </p>
                <p class="card-text">Followings-:<%= user.following.length%> </p>
                <p class="card-text">Followers-:<%= user.followers.length%> </p>
                <p class="card-text">Posts-:<%= user.posts.length%> </p>
                <%if(user && user.profile){%>
                  <p>status- <%=user.profile.status%> </p>
                  <p>status- <%=user.profile.location%> </p>
                  <p>status- <%=user.profile.company%> </p>
                  <p>status- <%=user.profile.bio%> </p>

                  <% } %>
         <% if(user.profile && user.profile.pic){ %>
           <img src="<%= user.profile.pic %>" class="img-fluid">
           <% } %>
            </div>
            <div class="d-flex" style="margin: 5px auto; padding: 5px;">
              <%if(currentUser.following.includes(user._id)){ %>
                <form  action="/unfollow/<%= user._id %>?_method=PUT" method="POST">
                  <button class="btn btn-success m-2">UnFollow</button>
                </form>
              <% } else { %>
           
              <form action="/follow/<%= user._id %>?_method=PUT" method="POST">
                <button class="btn btn-success m-2">Follow</button>
              </form>
              <% } %>
            </div>
        </div>

        <div style="display: flex;justify-content: space-around; padding: 10px;">
  

          <p><button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Followers  <%= user.followers.length%>
          </button>
        </p>
        <div class="collapse" id="collapseExample">
          <%for(let name of user.followers){%>
            <ul>
              <li><%= name.username %>  </li>
           
            </ul>
      
            <% } %>
        </div>
      
        <p> <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample">
         Followings   <%= user.following.length%>
        </a>
        </p>
        <div class="collapse" id="collapseExample1">
          <%for(let name of user.following){%>
            <ul>
              <li><%= name.username %>  </li>
            </ul>
      
            <% } %>
        </div>
        </div>


        <% } %>
    </div>
<!-- 
    <div class="col-md-4">
      <% if(user){%>
      <div class="post-author text-center m-0">
            <div class="text-center">
            <div class="author-avatar">
              <% if( user.profile && user.profile.pic){ %>
                 <img src="<%= user.profile.pic %>" class="img-fluid rounded">
                 <% } else { %>
                   <img src="https://res.cloudinary.com/pallishree-saswat/image/upload/v1620385155/vy8fcz43bokpxszi4vl4.png" class="img-fluid"  alt="hii"> 
                <% } %>
             </div>
              <h5 class="text-capitalize"><%= user.username %></h5>
             
              <div class=" d-flex flex-wrap justify-content-center">
              <p class=" px-2">Followings-: <strong><%= user.following.length%></strong> </p>
              <p class=" px-2">Followers-:<strong><%= user.followers.length%></strong>  </p>
              <p class=" px-2">Posts-: <strong><%= user.posts.length %></strong> </p>
              </div>
              
              <%if(user && user.profile){%>
               <p>status- <%=user.profile.status%> </p>
               <p>Location- <%=user.profile.location%> </p>
               <p>Company- <%=user.profile.company%> </p>
               <p>Bio- <%=user.profile.bio%> </p>
              <% } %>
       

          

           <% if( user.profile &&  user.profile._id) { %>
            <button class="btn">  <a href="/profile/<%= user.profile._id %>/edit">Edit Profile</a></button>

              <form action="/uploadpic/<%= user.profile._id %>?_method=PUT" enctype="multipart/form-data" method="POST" >
                <input type="file" name="pic" placeholder="profile pic" required>
                <button>submit</button>
              </form>
              <% } else { %> 
     
              <button class="btn"><a href="/profile/new">Add Profile</a></button>

              <% } %>
            </div>

           

      </div>

<div style="display: flex;justify-content: space-around; padding: 10px;">


<p><button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
Followers <%= user.followers.length%>
</button>
</p>
<div class="collapse" id="collapseExample">
<%for(let name of user.followers){%>
<ul>
  <li><%= name.username %>  </li>

</ul>

<% } %>
</div>

<p> <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample">
Followings <%= user.following.length%>
</a>
</p>
<div class="collapse" id="collapseExample1">
<%for(let name of user.following){%>
<ul>
  <li><%= name.username %>  </li>
</ul>

<% } %>
</div>
</div>

<% } %>
</div>  -->


    <!-- users posts -->

    <div class="col-md-9 ml-3">
      <div class="card " style="max-width: 540px; border: none; background-color: transparent;">
        <%if(user && user.posts){%>
            <%for(let post of user.posts){%>
        <div class="row g-0 mb-2 main-card" >
         
          <div class="col-md-4">
            <img src="<%= post.img %>" alt="..." width="100%" height="100%">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"  ><a href="/posts/<%= post._id %>"><%=post.name %></a> </h5>
              <p class="card-text"><%= post.snippet %> ...</p>
              <p class="card-text"><small class="text-muted">Last updated <%=post.timeCreated.toLocaleDateString() %></small></p>
            </div>
          </div>
           </div>
        <% } %>

        <% } %>
      </div>
    </div>
  </div>
</div>


<%- include("../partials/footer")%>