<%- include("../partials/header")%>
<%- include("../partials/navbar")%>

<div class="container" style="margin-top: 6rem;">
 
  <a href="/home" class="btn btn-outline-secondary">Go Back</a>
    <%- include("../partials/flash")%>
    <div class="row justify-content-center" >
     <div class="col-md-8">
    
      <article id="post">

     <!-- article heading -->
     <div class="headings text-center">
      <div class="category">
          <a href="#" class="nav-link display-1"> <%=post.category.name%></a>
      </div>

      <div class="title">
          <h2 class="text-title display-1  text-dark "><%=post.name%></h2>
      </div>

      <div class="meta">
        <% if(currentUser.id == post.user) {%>
          <a href="/profile" class=" display-1   link" style="text-decoration: none; color: rgb(197, 51, 51);"><i class="fas fa-user text-primary"></i> <%= post.postedBy.toUpperCase()%></a>
          <% } else { %>
            <a href="/user/<%=post.user._id%>" class=" display-1   link" style="text-decoration: none; color: rgb(197, 51, 51);"><i class="fas fa-user text-primary"></i> <%= post.postedBy.toUpperCase()%></a>
          <% } %>
          <a href="#" class="link display-1   text-secondary px-1">
              <i class="fas fa-clock text-primary"></i>  <%=post.timeCreated.toLocaleDateString() %>
          </a>
          <a href="#" class="link display-1  text-secondary px-1">
              <i class="fas fa-eye text-primary"></i> <%= post.viewCount %>
          </a>
      </div>

  </div>

 <!-- thumbnail  -->
    <div class="thumbnail mt-3">
        <img src="<%=post.img%>" class="thumbnail" alt="">
    </div>
    
<!-- description section -->
    <div class="mt-3">
    <p class="mt-4"><%-post.desc%> </p>
     </div>
  </article>


  
<!-- edit and delete by postedBy section -->
     <% if(currentUser.id == post.user) {%>

            <div class="d-flex" style="float: right;">
                  <a href="/posts/<%=post._id%>/edit" class="btn btn-warning" style="border-radius: 50%;"><i class="fas fa-edit"></i></a>
                  <div class="ml-3">
                   <form action="/posts/<%=post._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger" style="border-radius: 50%;"> <i class="fas fa-trash"></i></button>
                  </form>
                  </div> 
                </div>
            <% } %>

            
<!-- Like dislike section -->
            <div class="d-flex">
              
            <form action="/like/<%= post._id %>?_method=PUT" method="POST">
              <button  class="btn btn-success m-2"><i class="fas fa-thumbs-up"></i></button> <%- post.likes.length %>
            </form>
            
            <form action="/unlike/<%= post._id %>?_method=PUT" method="POST">
              <button class="btn btn-success m-2"><i class="fas fa-thumbs-down"></i></button> 
            </form>
          </div>

          
<!-- Add comments section -->
        <h3 class="text-center display-1 py-2"><%- post.reviews.length %> Comments</h3>
          <form  class="validated-form mt-3" action="/posts/<%=post._id%>/review" method="POST" style="max-width:70%;" novalidate>
          <p>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            <i class="fas fa-plus"></i>   Leave comment
            </button>
          </p>
          <div class="collapse" id="collapseExample">
            <input type="text" class="form-control" name="comment" placeholder="Write your comment" aria-label="Recipient's username" aria-describedby="button-addon2">
            <button type="submit" class="btn btn-success mt-2">Submit</button>
          </div>
       </form>


<!--show  comments section -->
    
  <%for(let review of post.reviews){%>
    
  <div class="d-flex mt-4 mb-3">
    <div class="avatar px-2">

      <% if(review.postedBy.profile){%>
        <img src="<%= user.profile.pic%>" class="rounded"  alt="hii">
        <% } else { %>
          <img src="https://res.cloudinary.com/pallishree-saswat/image/upload/v1620385155/vy8fcz43bokpxszi4vl4.png" class="rounded" width="40px" height="40px"  alt="hii"> 
        <% } %>
    </div>
    <div class="comment-content">
      <div class="d-flex">
        <h6 class=" m-0 text-capitalize font-weight-bold"><%=review.postedBy%></h6>
        <% if(currentUser.id == review.user) {%>
          <form action="/review/<%=post._id%>/<%=review._id%>?_method=DELETE" method="POST">
            <button class="d-flex" style="border: none;"> <i class="fas fa-trash"></i></button>
          </form>
        <% } %> 
      </div>
        <p class="title-secondary text-dark">
          <%=review.comment%>
        </p>

     </div>
  </div>
    <%}%>
    </div>
    </div>
    
    
    
    </div>


   
    <%- include("../partials/footer")%>